body {
font-family: 'Lato', sans-serif;
font-family: 'Rajdhani', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Ubuntu', sans-serif;
box-sizing: border-box;
}

.header {
    position: relative;
    width: 1280px;
    height: 213px;
    left: 0px;
    top: 0px;
    margin-left: 1px;
   margin-top: -8px;
   margin-left: -8px;
   
    
 
    
    background: #C4C4C4;
}
.logo {
    position: absolute;
    width: 170px;
    height: 140px;
    left: 83px;
    top: 36px;
    
    background: #C4C4C4;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 36px;
    background-image: url(../img/facebook.png);
    background-size: 140px;
    background-position: 14px;

}
.menu-principal {
  position: absolute;
    display: flex;
  flex-wrap: wrap;
  left: 800px;
  top: 140px ;
  gap: 1vw 1vw;
}
.Home {
background-color:yellow ;
width: 120px;
text-align: center;
border-radius: 20px;

}

.Curiosidades {
    background-color:yellow ;
    width: 120px;
    text-align: center;
    border-radius: 20px;
}
.Video {
    background-color: yellow ;
    width: 120px;
    text-align: center;
    border-radius: 20px;

}
.imagem {

 background-image: url(../img/catedral-sao-joao-batista.jpg) ;
 position: relative;
width: 1280px;
height: 532px;
margin-left: -8px;
background-size: 1280px 532px;

}
.fala {
position: absolute;
width: 300px;
height: 100px;
background-color: azure;
border-radius: 20px;
left: 50px;
top: 50px;
border:solid yellow;
text-align: center;
}
.cidade {
position: absolute;
font-size: 20px;
text-align: center;
left: 70px;
top: 15px;
}
.curioso {
    position: absolute;
width: 380px;
height: 42px;
left: 123px;
top: 873px;
font-weight: 400;
font-size: 26px;
line-height: 42px;

color: #000000;

}

.cards {
   position:absolute;
    display: flex;
    flex-direction: row;
  flex-wrap: wrap;
 border-radius: 20px;
  top:950px;
  left: 123px;
  gap: 1vw 1vw;
  align-items: center;
}

.Porta-1 {
position: relative;
background-color: yellow;
width: 335px;
height: 534px;
border-radius: 20px;
align-items: center;
}
.Imagem-1{
background-image: url(../img/1-grande-2.png);
width: 335px;
height: 180px;
border-top-left-radius: 20px;
border-top-right-radius: 20px;
background-size: 380px;
box-shadow: 1cm black;


}
.Titulo-1 {
    position: absolute;
    top: 190px;
    left: 120px;
    color: blue;
}
.Texto-1 {
    position: absolute;
    top: 250px;
    left:10px;
    right: 10px;
    text-align: center;
    font-family: 'Rajdhani', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Ubuntu', sans-serif;
    font-size: bold;
    
}
.Porta-2 {
    position: relative ;
    background-color: rgb(250, 2, 2);
    width: 335px;
    height: 534px;
    border-radius: 20px;
}
.Imagem-2 {
background-image: url(../img/maxresdefault.jpg);
width: 335px;
height: 180px;
border-top-left-radius: 20px;
border-top-right-radius: 20px;
background-size: 335px;
}
.Titulo-2 {
    position: absolute;
    top: 190px;
    left: 80px;
    right: 80px;
    color: blue;
text-align: center;

}
.Texto-2 {
    position: absolute;
    top: 250px;
    left:10px;
    right: 10px;
    text-align: center;
    font-family: 'Rajdhani', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Ubuntu', sans-serif;
    font-size: bold;
    color: white;

}



.Porta-3 {
   position: relative;
   background-color: rgb(0, 0, 0);
    width: 335px;
    height: 534px;
    border-radius: 20px;
}
.Imagem-3 {
    background-image: url(../img/parque-santa-cruz.jpg);
    width: 335px;
    height: 180px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-size: 335px;

}
.Titulo-3 {
    position: absolute;
    top: 190px;
    left: 80px;
    right: 80px;
    color: blue;
text-align: center;
}
.Texto-3 {
    position: absolute;
    top: 250px;
    left:10px;
    right: 10px;
    text-align: center;
    font-family: 'Rajdhani', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Ubuntu', sans-serif;
    font-size: bold;
    color: white;
}
.video {
    position: relative;
    width: 1077px;
    height: 534px;
    left: 123px;
    top: 1475px;
    
    background: #C4C4C4;
    border-radius: 31px;
    background-image: url(../img/mqdefault.jpg);
    background-size: 1060px;
}

.poligono {
background-image: url(../img/Polygon.png );
position: absolute;
width: 188px;
height: 210px;
left: 470px;
top: 184px;



}
.borda {


    position: absolute;
    width: 1280px;
    height: 414px;
    left: 0px;
    top: 2442px;
    
    background: #C4C4C4;
}

.Rodapé {

    position: absolute;
width: 217px;
height: 75px;
left: 76px;
top: 71px;

font-size: 50px;


color: #000000;
}


    

.linkedin {
    position: absolute;
    width: 141px;
    height: 141px;
    left: 378px;
    top: 200px;
    
    background: #434343;
border-radius: 50%;
background-image: url(../img/download.png);
background-size: 140px;
}

.github {

    position: absolute;
    width: 141px;
    height: 141px;
    left: 762px;
    top: 200px;
    
    background: #434343;
    border-radius: 50%;
    background-image: url(../img/github.jpg);
    background-size: 140px;
    
}
@media (max-width: 425px) {
    .imagem {display: none;}
    body {
        font-family: 'Lato', sans-serif;
        font-family: 'Rajdhani', sans-serif;
        font-family: 'Roboto', sans-serif;
        font-family: 'Ubuntu', sans-serif;
        box-sizing: wi;
        }
        
        .header {
            position: relative;
            width: 425px;
            height: 554px;
            left: 0px;
            top: 0px;
            margin-left: 1px;
           margin-top: -8px;
           margin-left: -8px;
           
            
         
            
            background: #C4C4C4;
        }
        .logo {
            position: absolute;
            width: 340px;
            height: 140px;
            left: 30px;
            top: 36px;
            
            background: #C4C4C4;
            border: 1px solid #000000;
            box-sizing: border-box;
            border-radius: 36px;
            background-image: url(../img/facebook.png);
            background-size: 155px;
            background-position: 14px;
        
        }
        .menu-principal {
            width: 197px;
height: 82px;
          position: absolute;
            display: flex;
          flex-wrap: wrap;
          left: 144px;
          top: 290px;
          gap: 1vw 1vw;
        }
        .Home {
        background-color:yellow ;
        width: 120px;
        text-align: center;
        border-radius: 20px;
        
        }
        
        .Curiosidades {
            background-color:yellow ;
            width: 120px;
            text-align: center;
            border-radius: 20px;
        }
        .Video {
            background-color: yellow ;
            width: 120px;
            text-align: center;
            border-radius: 20px;
        
        }
        
        
        
        .curioso {
            position: absolute;
            width: 338px;
            height: 38px;
            left: 36px;
            top: 582px;
            
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 32px;
            line-height: 38px;
            /* identical to box height */
            
            text-align: center;
            
            color: #000000;
            
        
        }
        
        .cards {
           position:absolute;
            display: flex;
            flex-direction: row;
          flex-wrap: wrap;
         border-radius: 20px;
          top:750px;
          left:35px;
          gap: 1vw 1vw;
          align-items: center;
        }
        
        .Porta-1 {
        position: relative;
        background-color: yellow;
        width: 335px;
        height: 534px;
        border-radius: 20px;
        align-items: center;
        }
        .Imagem-1{
        background-image: url(../img/1-grande-2.png);
        width: 335px;
        height: 180px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        background-size: 380px;
        box-shadow: 1cm black;
        
        
        }
        .Titulo-1 {
            position: absolute;
            top: 190px;
            left: 130px;
            color: blue;
        }
        .Texto-1 {
            position: absolute;
            top: 250px;
            left:10px;
            right: 10px;
            text-align: center;
            font-family: 'Rajdhani', sans-serif;
        font-family: 'Roboto', sans-serif;
        font-family: 'Ubuntu', sans-serif;
            font-size: bold;
            
        }
        .Porta-2 {
            position: relative ;
            background-color: rgb(250, 2, 2);
            width: 335px;
            height: 534px;
            border-radius: 20px;
        }
        .Imagem-2 {
        background-image: url(../img/maxresdefault.jpg);
        width: 335px;
        height: 180px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        background-size: 335px;
        }
        .Titulo-2 {
            position: absolute;
            top: 190px;
            left: 80px;
            right: 80px;
            color: blue;
        text-align: center;
        
        }
        .Texto-2 {
            position: absolute;
            top: 250px;
            left:10px;
            right: 10px;
            text-align: center;
            font-family: 'Rajdhani', sans-serif;
        font-family: 'Roboto', sans-serif;
        font-family: 'Ubuntu', sans-serif;
            font-size: bold;
            color: white;
        
        }
        
        
        
        .Porta-3 {
           position: relative;
           background-color: rgb(0, 0, 0);
            width: 335px;
            height: 534px;
            border-radius: 20px;
        }
        .Imagem-3 {
            background-image: url(../img/parque-santa-cruz.jpg);
            width: 335px;
            height: 180px;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
            background-size: 335px;
        
        }
        .Titulo-3 {
            position: absolute;
            top: 190px;
            left: 80px;
            right: 80px;
            color: blue;
        text-align: center;
        }
        .Texto-3 {
            position: absolute;
            top: 250px;
            left:10px;
            right: 10px;
            text-align: center;
            font-family: 'Rajdhani', sans-serif;
        font-family: 'Roboto', sans-serif;
        font-family: 'Ubuntu', sans-serif;
            font-size: bold;
            color: white;
        }
        .video {
            position: relative;
            width: 335px;
height: 534px;
left: 17px;
top: 2002px;
            
            background: #C4C4C4;
            border-radius: 31px;
            background-image: url(../img/mqdefault.jpg);
            background-size: 180px;
        }
        
        .poligono {
        background-image: url(../img/Polygon.png );
        position: absolute;
        width: 188px;
        height: 210px;
        left: 90px;
        top: 152px;
        
        
        
        }
        .borda {
        
        
            position: absolute;
            width: 420px;
height: 795px;
left: 0px;
top: 3133px;

            
            background: #C4C4C4;
        }
        
        .Rodapé {
        
            position: absolute;
            width: 217px;
            height: 75px;
            left: 87px;
            top: 66px;
            
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 64px;
            line-height: 75px;
            /* identical to box height */
            
            
            color: #000000;
        
        }
            
        
        .linkedin {
            position: absolute;
            width: 141px;
            height: 141px;
            left: 135px;
top: 196px;
            
            background: #434343;
        border-radius: 50%;
        background-image: url(../img/download.png);
        background-size: 140px;
        }
        
        .github {
        
            position: absolute;
            width: 141px;
            height: 141px;
            left: 135px;
top: 521px;
            
            background: #434343;
            border-radius: 50%;
            background-image: url(../img/github.jpg);
            background-size: 140px;
}
}